
<script>
     $(function () {
        $('.map').maphilight({ stroke: false, fillColor: 'FFFFFFFF', fillOpacity: 0.5 });
    });
   
</script>

<script>
    function selSeat(val) {
        $.ajax({
          method: "GET",
          url: "/seatReview",
          data: { seat_id: val }
        })
          .done(function( msg ) {
            $("#seatReview").html(msg);
          });
    }

</script>

<button type="button" class="btn btn-default"><a href="/seatPlan/1">1층</a></button>
<button type="button" class="btn btn-default"><a href="/seatPlan/6">3층</a></button>

 <center> <img class="map" src="/assets/bluesquare_2.jpg" usemap="#bluesquare_2"/> </center>
<map name="bluesquare_2">
 
 
 <!-- 1열 -->
  <area shape="rect" coords="56,182,65,191" onclick="selSeat()" />
  <area shape="rect" coords="67,182,76,191" onclick="selSeat()" />
  <area shape="rect" coords="78,182,87,191" onclick="selSeat()" />
  <area shape="rect" coords="89,182,98,191" onclick="selSeat()" />
  <area shape="rect" coords="100,182,109,191" onclick="selSeat()" />
  <area shape="rect" coords="111,182,120,191" onclick="selSeat()" />
  <area shape="rect" coords="123,182,132,191" onclick="selSeat()" />
  <area shape="rect" coords="134,182,143,191" onclick="selSeat()" />
  <area shape="rect" coords="145,182,154,191" onclick="selSeat()" />
  <area shape="rect" coords="157,182,166,191" onclick="selSeat()" />
  <area shape="rect" coords="168,182,177,191" onclick="selSeat()" />
  <area shape="rect" coords="179,182,188,191" onclick="selSeat()" />
  <area shape="rect" coords="191,182,200,191" onclick="selSeat()" />
  <area shape="rect" coords="202,182,211,191" onclick="selSeat()" />
  <area shape="rect" coords="214,182,223,191" onclick="selSeat()" />
  <area shape="rect" coords="238,182,247,191" onclick="selSeat()" />
  <area shape="rect" coords="249,182,258,191" onclick="selSeat()" />
  <area shape="rect" coords="260,182,269,191" onclick="selSeat()" />
  <area shape="rect" coords="271,182,280,191" onclick="selSeat()" />
  <area shape="rect" coords="282,182,291,191" onclick="selSeat()" />
  <area shape="rect" coords="293,182,302,191" onclick="selSeat()" />
  <area shape="rect" coords="304,182,313,191" onclick="selSeat()" />
  <area shape="rect" coords="316,182,325,191" onclick="selSeat()" />
  <area shape="rect" coords="327,182,336,191" onclick="selSeat()" />
  <area shape="rect" coords="338,182,347,191" onclick="selSeat()" />
  <area shape="rect" coords="349,182,358,191" onclick="selSeat()" />
  <area shape="rect" coords="361,182,370,191" onclick="selSeat()" />
  <area shape="rect" coords="372,182,381,191" onclick="selSeat()" />
  <area shape="rect" coords="384,182,393,191" onclick="selSeat()" />
  <area shape="rect" coords="396,182,405,191" onclick="selSeat()" />
  <area shape="rect" coords="408,182,417,191" onclick="selSeat()" />
  <area shape="rect" coords="434,182,443,191" onclick="selSeat()" />
  <area shape="rect" coords="445,182,454,191" onclick="selSeat()" />
  <area shape="rect" coords="457,182,466,191" onclick="selSeat()" />
  <area shape="rect" coords="469,182,478,191" onclick="selSeat()" />
  <area shape="rect" coords="481,182,490,191" onclick="selSeat()" />
  <area shape="rect" coords="492,182,501,191" onclick="selSeat()" />
  <area shape="rect" coords="503,182,512,191" onclick="selSeat()" />
  <area shape="rect" coords="515,182,524,191" onclick="selSeat()" />
  <area shape="rect" coords="526,182,535,191" onclick="selSeat()" />
  <area shape="rect" coords="537,182,546,191" onclick="selSeat()" />
  <area shape="rect" coords="548,182,557,191" onclick="selSeat()" />
  <area shape="rect" coords="559,182,568,191" onclick="selSeat()" />
  <area shape="rect" coords="570,182,579,191" onclick="selSeat()" />
  <area shape="rect" coords="581,182,590,191" onclick="selSeat()" />
  <area shape="rect" coords="592,182,601,191" onclick="selSeat()" />

 <!-- 2열 -->
  <area shape="rect" coords="56,192,65,201" onclick="selSeat()" />
  <area shape="rect" coords="67,192,76,201" onclick="selSeat()" />
  <area shape="rect" coords="79,192,88,201" onclick="selSeat()" />
  <area shape="rect" coords="89,192,98,201" onclick="selSeat()" />
  <area shape="rect" coords="101,192,110,201" onclick="selSeat()" />
  <area shape="rect" coords="111,192,120,201" onclick="selSeat()" />
  <area shape="rect" coords="123,192,132,201" onclick="selSeat()" />
  <area shape="rect" coords="134,192,143,201" onclick="selSeat()" />
  <area shape="rect" coords="145,192,154,201" onclick="selSeat()" />
  <area shape="rect" coords="157,192,166,201" onclick="selSeat()" />
  <area shape="rect" coords="168,192,177,201" onclick="selSeat()" />
  <area shape="rect" coords="179,192,188,201" onclick="selSeat()" />
  <area shape="rect" coords="191,192,200,201" onclick="selSeat()" />
  <area shape="rect" coords="202,192,211,201" onclick="selSeat()" />
  <area shape="rect" coords="214,192,223,201" onclick="selSeat()" />
  <area shape="rect" coords="238,192,247,201" onclick="selSeat()" />
  <area shape="rect" coords="249,192,258,201" onclick="selSeat()" />
  <area shape="rect" coords="260,192,269,201" onclick="selSeat()" />
  <area shape="rect" coords="271,192,280,201" onclick="selSeat()" />
  <area shape="rect" coords="282,192,291,201" onclick="selSeat()" />
  <area shape="rect" coords="293,192,302,201" onclick="selSeat()" />
  <area shape="rect" coords="304,192,313,201" onclick="selSeat()" />
  <area shape="rect" coords="316,192,325,201" onclick="selSeat()" />
  <area shape="rect" coords="327,192,336,201" onclick="selSeat()" />
  <area shape="rect" coords="338,192,347,201" onclick="selSeat()" />
  <area shape="rect" coords="349,192,358,201" onclick="selSeat()" />
  <area shape="rect" coords="361,192,370,201" onclick="selSeat()" />
  <area shape="rect" coords="372,192,381,201" onclick="selSeat()" />
  <area shape="rect" coords="384,192,393,201" onclick="selSeat()" />
  <area shape="rect" coords="396,192,405,201" onclick="selSeat()" />
  <area shape="rect" coords="408,192,417,201" onclick="selSeat()" />
  <area shape="rect" coords="434,192,443,201" onclick="selSeat()" />
  <area shape="rect" coords="446,192,455,201" onclick="selSeat()" />
  <area shape="rect" coords="457,192,466,201" onclick="selSeat()" />
  <area shape="rect" coords="469,192,478,201" onclick="selSeat()" />
  <area shape="rect" coords="481,192,490,201" onclick="selSeat()" />
  <area shape="rect" coords="492,192,501,201" onclick="selSeat()" />
  <area shape="rect" coords="503,192,512,201" onclick="selSeat()" />
  <area shape="rect" coords="514,192,523,201" onclick="selSeat()" />
  <area shape="rect" coords="526,192,535,201" onclick="selSeat()" />
  <area shape="rect" coords="537,192,546,201" onclick="selSeat()" />
  <area shape="rect" coords="548,192,557,201" onclick="selSeat()" />
  <area shape="rect" coords="559,192,568,201" onclick="selSeat()" />
  <area shape="rect" coords="570,192,579,201" onclick="selSeat()" />
  <area shape="rect" coords="581,192,590,201" onclick="selSeat()" />
  <area shape="rect" coords="592,192,601,201" onclick="selSeat()" />

 <!-- 3열 -->
  <area shape="rect" coords="56,202,65,211" onclick="selSeat()" />
  <area shape="rect" coords="67,202,76,211" onclick="selSeat()" />
  <area shape="rect" coords="79,202,88,211" onclick="selSeat()" />
  <area shape="rect" coords="89,202,98,211" onclick="selSeat()" />
  <area shape="rect" coords="101,202,110,211" onclick="selSeat()" />
  <area shape="rect" coords="111,202,120,211" onclick="selSeat()" />
  <area shape="rect" coords="123,202,132,211" onclick="selSeat()" />
  <area shape="rect" coords="134,202,143,211" onclick="selSeat()" />
  <area shape="rect" coords="145,202,154,211" onclick="selSeat()" />
  <area shape="rect" coords="157,202,166,211" onclick="selSeat()" />
  <area shape="rect" coords="168,202,177,211" onclick="selSeat()" />
  <area shape="rect" coords="179,202,188,211" onclick="selSeat()" />
  <area shape="rect" coords="191,202,200,211" onclick="selSeat()" />
  <area shape="rect" coords="202,202,211,211" onclick="selSeat()" />
  <area shape="rect" coords="214,202,223,211" onclick="selSeat()" />
  <area shape="rect" coords="238,202,247,211" onclick="selSeat()" />
  <area shape="rect" coords="249,202,258,211" onclick="selSeat()" />
  <area shape="rect" coords="260,202,269,211" onclick="selSeat()" />
  <area shape="rect" coords="271,202,280,211" onclick="selSeat()" />
  <area shape="rect" coords="282,202,291,211" onclick="selSeat()" />
  <area shape="rect" coords="293,202,302,211" onclick="selSeat()" />
  <area shape="rect" coords="304,202,313,211" onclick="selSeat()" />
  <area shape="rect" coords="316,202,325,211" onclick="selSeat()" />
  <area shape="rect" coords="327,202,336,211" onclick="selSeat()" />
  <area shape="rect" coords="338,202,347,211" onclick="selSeat()" />
  <area shape="rect" coords="349,202,358,211" onclick="selSeat()" />
  <area shape="rect" coords="361,202,370,211" onclick="selSeat()" />
  <area shape="rect" coords="372,202,381,211" onclick="selSeat()" />
  <area shape="rect" coords="384,202,393,211" onclick="selSeat()" />
  <area shape="rect" coords="396,202,405,211" onclick="selSeat()" />
  <area shape="rect" coords="408,202,417,211" onclick="selSeat()" />
  <area shape="rect" coords="434,202,443,211" onclick="selSeat()" />
  <area shape="rect" coords="446,202,455,211" onclick="selSeat()" />
  <area shape="rect" coords="457,202,466,211" onclick="selSeat()" />
  <area shape="rect" coords="469,202,478,211" onclick="selSeat()" />
  <area shape="rect" coords="481,202,490,211" onclick="selSeat()" />
  <area shape="rect" coords="492,202,501,211" onclick="selSeat()" />
  <area shape="rect" coords="503,202,512,211" onclick="selSeat()" />
  <area shape="rect" coords="514,202,523,211" onclick="selSeat()" />
  <area shape="rect" coords="526,202,535,211" onclick="selSeat()" />
  <area shape="rect" coords="537,202,546,211" onclick="selSeat()" />
  <area shape="rect" coords="548,202,557,211" onclick="selSeat()" />
  <area shape="rect" coords="559,202,568,211" onclick="selSeat()" />
  <area shape="rect" coords="570,202,579,211" onclick="selSeat()" />
  <area shape="rect" coords="581,202,590,211" onclick="selSeat()" />
  <area shape="rect" coords="592,202,601,211" onclick="selSeat()" />

 <!-- 4열 -->
  <area shape="rect" coords="56,213,65,222" onclick="selSeat()" />
  <area shape="rect" coords="67,213,76,222" onclick="selSeat()" />
  <area shape="rect" coords="79,213,88,222" onclick="selSeat()" />
  <area shape="rect" coords="89,213,98,222" onclick="selSeat()" />
  <area shape="rect" coords="101,213,110,222" onclick="selSeat()" />
  <area shape="rect" coords="111,213,120,222" onclick="selSeat()" />
  <area shape="rect" coords="123,213,132,222" onclick="selSeat()" />
  <area shape="rect" coords="134,212,143,221" onclick="selSeat()" />
  <area shape="rect" coords="145,212,154,221" onclick="selSeat()" />
  <area shape="rect" coords="157,212,166,221" onclick="selSeat()" />
  <area shape="rect" coords="168,212,177,221" onclick="selSeat()" />
  <area shape="rect" coords="179,212,188,221" onclick="selSeat()" />
  <area shape="rect" coords="191,212,200,221" onclick="selSeat()" />
  <area shape="rect" coords="203,213,212,222" onclick="selSeat()" />
  <area shape="rect" coords="214,212,223,221" onclick="selSeat()" />
  <area shape="rect" coords="238,212,247,221" onclick="selSeat()" />
  <area shape="rect" coords="249,212,258,221" onclick="selSeat()" />
  <area shape="rect" coords="260,212,269,221" onclick="selSeat()" />
  <area shape="rect" coords="271,212,280,221" onclick="selSeat()" />
  <area shape="rect" coords="282,212,291,221" onclick="selSeat()" />
  <area shape="rect" coords="293,212,302,221" onclick="selSeat()" />
  <area shape="rect" coords="304,212,313,221" onclick="selSeat()" />
  <area shape="rect" coords="316,212,325,221" onclick="selSeat()" />
  <area shape="rect" coords="327,212,336,221" onclick="selSeat()" />
  <area shape="rect" coords="338,212,347,221" onclick="selSeat()" />
  <area shape="rect" coords="349,212,358,221" onclick="selSeat()" />
  <area shape="rect" coords="361,212,370,221" onclick="selSeat()" />
  <area shape="rect" coords="372,212,381,221" onclick="selSeat()" />
  <area shape="rect" coords="384,212,393,221" onclick="selSeat()" />
  <area shape="rect" coords="396,212,405,221" onclick="selSeat()" />
  <area shape="rect" coords="408,212,417,221" onclick="selSeat()" />
  <area shape="rect" coords="434,212,443,221" onclick="selSeat()" />
  <area shape="rect" coords="446,212,455,221" onclick="selSeat()" />
  <area shape="rect" coords="457,212,466,221" onclick="selSeat()" />
  <area shape="rect" coords="469,212,478,221" onclick="selSeat()" />
  <area shape="rect" coords="481,212,490,221" onclick="selSeat()" />
  <area shape="rect" coords="492,212,501,221" onclick="selSeat()" />
  <area shape="rect" coords="503,212,512,221" onclick="selSeat()" />
  <area shape="rect" coords="514,212,523,221" onclick="selSeat()" />
  <area shape="rect" coords="526,212,535,221" onclick="selSeat()" />
  <area shape="rect" coords="537,212,546,221" onclick="selSeat()" />
  <area shape="rect" coords="548,212,557,221" onclick="selSeat()" />
  <area shape="rect" coords="559,212,568,221" onclick="selSeat()" />
  <area shape="rect" coords="570,212,579,221" onclick="selSeat()" />
  <area shape="rect" coords="581,212,590,221" onclick="selSeat()" />
  <area shape="rect" coords="592,212,601,221" onclick="selSeat()" />
 
 <!-- 5열 -->
  <area shape="rect" coords="56,224,65,233" onclick="selSeat()" />
  <area shape="rect" coords="67,224,76,233" onclick="selSeat()" />
  <area shape="rect" coords="79,224,88,233" onclick="selSeat()" />
  <area shape="rect" coords="89,224,98,233" onclick="selSeat()" />
  <area shape="rect" coords="101,224,110,233" onclick="selSeat()" />
  <area shape="rect" coords="111,224,120,233" onclick="selSeat()" />
  <area shape="rect" coords="123,224,132,233" onclick="selSeat()" />
  <area shape="rect" coords="134,224,143,233" onclick="selSeat()" />
  <area shape="rect" coords="145,224,154,233" onclick="selSeat()" />
  <area shape="rect" coords="157,224,166,233" onclick="selSeat()" />
  <area shape="rect" coords="168,224,177,233" onclick="selSeat()" />
  <area shape="rect" coords="179,224,188,233" onclick="selSeat()" />
  <area shape="rect" coords="191,224,200,233" onclick="selSeat()" />
  <area shape="rect" coords="214,224,223,233" onclick="selSeat()" />
  <area shape="rect" coords="203,224,212,233" onclick="selSeat()" />
  <area shape="rect" coords="238,224,247,233" onclick="selSeat()" />
  <area shape="rect" coords="249,224,258,233" onclick="selSeat()" />
  <area shape="rect" coords="260,224,269,233" onclick="selSeat()" />
  <area shape="rect" coords="271,224,280,233" onclick="selSeat()" />
  <area shape="rect" coords="282,224,291,233" onclick="selSeat()" />
  <area shape="rect" coords="293,224,302,233" onclick="selSeat()" />
  <area shape="rect" coords="304,224,313,233" onclick="selSeat()" />
  <area shape="rect" coords="316,224,325,233" onclick="selSeat()" />
  <area shape="rect" coords="327,224,336,233" onclick="selSeat()" />
  <area shape="rect" coords="338,224,347,233" onclick="selSeat()" />
  <area shape="rect" coords="349,224,358,233" onclick="selSeat()" />
  <area shape="rect" coords="361,224,370,233" onclick="selSeat()" />
  <area shape="rect" coords="372,224,381,233" onclick="selSeat()" />
  <area shape="rect" coords="384,224,393,233" onclick="selSeat()" />
  <area shape="rect" coords="396,224,405,233" onclick="selSeat()" />
  <area shape="rect" coords="408,224,417,233" onclick="selSeat()" />
  <area shape="rect" coords="434,224,443,233" onclick="selSeat()" />
  <area shape="rect" coords="446,224,455,233" onclick="selSeat()" />
  <area shape="rect" coords="457,224,466,233" onclick="selSeat()" />
  <area shape="rect" coords="469,224,478,233" onclick="selSeat()" />
  <area shape="rect" coords="481,224,490,233" onclick="selSeat()" />
  <area shape="rect" coords="492,224,501,233" onclick="selSeat()" />
  <area shape="rect" coords="503,224,512,233" onclick="selSeat()" />
  <area shape="rect" coords="514,224,523,233" onclick="selSeat()" />
  <area shape="rect" coords="526,224,535,233" onclick="selSeat()" />
  <area shape="rect" coords="537,224,546,233" onclick="selSeat()" />
  <area shape="rect" coords="548,224,557,233" onclick="selSeat()" />
  <area shape="rect" coords="559,224,568,233" onclick="selSeat()" />
  <area shape="rect" coords="570,224,579,233" onclick="selSeat()" />
  <area shape="rect" coords="581,224,590,233" onclick="selSeat()" />
  <area shape="rect" coords="592,224,601,233" onclick="selSeat()" />

 <!-- 6열 -->
  <area shape="rect" coords="56,234,65,243" onclick="selSeat()" />
  <area shape="rect" coords="67,234,76,243" onclick="selSeat()" />
  <area shape="rect" coords="79,234,88,243" onclick="selSeat()" />
  <area shape="rect" coords="89,234,98,243" onclick="selSeat()" />
  <area shape="rect" coords="101,234,110,243" onclick="selSeat()" />
  <area shape="rect" coords="111,234,120,243" onclick="selSeat()" />
  <area shape="rect" coords="123,234,132,243" onclick="selSeat()" />
  <area shape="rect" coords="134,234,143,243" onclick="selSeat()" />
  <area shape="rect" coords="145,234,154,243" onclick="selSeat()" />
  <area shape="rect" coords="157,234,166,243" onclick="selSeat()" />
  <area shape="rect" coords="168,234,177,243" onclick="selSeat()" />
  <area shape="rect" coords="179,234,188,243" onclick="selSeat()" />
  <area shape="rect" coords="191,234,200,243" onclick="selSeat()" />
  <area shape="rect" coords="214,234,223,243" onclick="selSeat()" />
  <area shape="rect" coords="203,234,212,243" onclick="selSeat()" />
  <area shape="rect" coords="249,234,258,243" onclick="selSeat()" />
  <area shape="rect" coords="260,234,269,243" onclick="selSeat()" />
  <area shape="rect" coords="271,234,280,243" onclick="selSeat()" />
  <area shape="rect" coords="282,234,291,243" onclick="selSeat()" />
  <area shape="rect" coords="293,234,302,243" onclick="selSeat()" />
  <area shape="rect" coords="304,234,313,243" onclick="selSeat()" />
  <area shape="rect" coords="316,234,325,243" onclick="selSeat()" />
  <area shape="rect" coords="327,234,336,243" onclick="selSeat()" />
  <area shape="rect" coords="338,234,347,243" onclick="selSeat()" />
  <area shape="rect" coords="349,234,358,243" onclick="selSeat()" />
  <area shape="rect" coords="361,234,370,243" onclick="selSeat()" />
  <area shape="rect" coords="372,234,381,243" onclick="selSeat()" />
  <area shape="rect" coords="384,234,393,243" onclick="selSeat()" />
  <area shape="rect" coords="396,234,405,243" onclick="selSeat()" />
  <area shape="rect" coords="434,234,443,243" onclick="selSeat()" />
  <area shape="rect" coords="446,234,455,243" onclick="selSeat()" />
  <area shape="rect" coords="457,234,466,243" onclick="selSeat()" />
  <area shape="rect" coords="469,234,478,243" onclick="selSeat()" />
  <area shape="rect" coords="481,234,490,243" onclick="selSeat()" />
  <area shape="rect" coords="492,234,501,243" onclick="selSeat()" />
  <area shape="rect" coords="503,234,512,243" onclick="selSeat()" />
  <area shape="rect" coords="514,234,523,243" onclick="selSeat()" />
  <area shape="rect" coords="526,234,535,243" onclick="selSeat()" />
  <area shape="rect" coords="537,234,546,243" onclick="selSeat()" />
  <area shape="rect" coords="548,234,557,243" onclick="selSeat()" />
  <area shape="rect" coords="559,234,568,243" onclick="selSeat()" />
  <area shape="rect" coords="570,234,579,243" onclick="selSeat()" />
  <area shape="rect" coords="581,234,590,243" onclick="selSeat()" />
  <area shape="rect" coords="592,234,601,243" onclick="selSeat()" />

 <!-- 7열 -->
 <area shape="rect" coords="79,246,88,255" onclick="selSeat()" />
  <area shape="rect" coords="89,246,98,255" onclick="selSeat()" />
  <area shape="rect" coords="101,246,110,255" onclick="selSeat()" />
  <area shape="rect" coords="111,246,120,255" onclick="selSeat()" />
  <area shape="rect" coords="123,246,132,255" onclick="selSeat()" />
  <area shape="rect" coords="134,246,143,255" onclick="selSeat()" />
  <area shape="rect" coords="145,246,154,255" onclick="selSeat()" />
  <area shape="rect" coords="157,246,166,255" onclick="selSeat()" />
  <area shape="rect" coords="168,246,177,255" onclick="selSeat()" />
  <area shape="rect" coords="179,246,188,255" onclick="selSeat()" />
  <area shape="rect" coords="191,246,200,255" onclick="selSeat()" />
  <area shape="rect" coords="214,246,223,255" onclick="selSeat()" />
  <area shape="rect" coords="203,246,212,255" onclick="selSeat()" />
  <area shape="rect" coords="249,246,258,255" onclick="selSeat()" />
  <area shape="rect" coords="260,246,269,255" onclick="selSeat()" />
  <area shape="rect" coords="271,246,280,255" onclick="selSeat()" />
  <area shape="rect" coords="282,246,291,255" onclick="selSeat()" />
  <area shape="rect" coords="293,246,302,255" onclick="selSeat()" />
  <area shape="rect" coords="304,246,313,255" onclick="selSeat()" />
  <area shape="rect" coords="316,246,325,255" onclick="selSeat()" />
  <area shape="rect" coords="327,246,336,255" onclick="selSeat()" />
  <area shape="rect" coords="338,246,347,255" onclick="selSeat()" />
  <area shape="rect" coords="349,246,358,255" onclick="selSeat()" />
  <area shape="rect" coords="361,246,370,255" onclick="selSeat()" />
  <area shape="rect" coords="372,246,381,255" onclick="selSeat()" />
  <area shape="rect" coords="384,246,393,255" onclick="selSeat()" />
  <area shape="rect" coords="434,246,443,255" onclick="selSeat()" />
  <area shape="rect" coords="446,246,455,255" onclick="selSeat()" />
  <area shape="rect" coords="457,246,466,255" onclick="selSeat()" />
  <area shape="rect" coords="469,246,478,255" onclick="selSeat()" />
  <area shape="rect" coords="481,246,490,255" onclick="selSeat()" />
  <area shape="rect" coords="492,246,501,255" onclick="selSeat()" />
  <area shape="rect" coords="503,246,512,255" onclick="selSeat()" />
  <area shape="rect" coords="514,246,523,255" onclick="selSeat()" />
  <area shape="rect" coords="526,246,535,255" onclick="selSeat()" />
  <area shape="rect" coords="537,246,546,255" onclick="selSeat()" />
  <area shape="rect" coords="548,246,557,255" onclick="selSeat()" />
  <area shape="rect" coords="559,246,568,255" onclick="selSeat()" />
  <area shape="rect" coords="570,246,579,255" onclick="selSeat()" />
  <!-- 8열 -->
 <area shape="rect" coords="79,257,88,266" onclick="selSeat()" />
  <area shape="rect" coords="89,257,98,266" onclick="selSeat()" />
  <area shape="rect" coords="101,257,110,266" onclick="selSeat()" />
  <area shape="rect" coords="111,257,120,266" onclick="selSeat()" />
  <area shape="rect" coords="123,257,132,266" onclick="selSeat()" />
  <area shape="rect" coords="134,257,143,266" onclick="selSeat()" />
  <area shape="rect" coords="145,257,154,266" onclick="selSeat()" />
  <area shape="rect" coords="157,257,166,266" onclick="selSeat()" />
  <area shape="rect" coords="168,257,177,266" onclick="selSeat()" />
  <area shape="rect" coords="179,257,188,266" onclick="selSeat()" />
  <area shape="rect" coords="191,257,200,266" onclick="selSeat()" />
  <area shape="rect" coords="214,257,223,266" onclick="selSeat()" />
  <area shape="rect" coords="203,257,212,266" onclick="selSeat()" />
  <area shape="rect" coords="260,257,269,266" onclick="selSeat()" />
  <area shape="rect" coords="271,257,280,266" onclick="selSeat()" />
  <area shape="rect" coords="282,257,291,266" onclick="selSeat()" />
  <area shape="rect" coords="293,257,302,266" onclick="selSeat()" />
  <area shape="rect" coords="304,257,313,266" onclick="selSeat()" />
  <area shape="rect" coords="316,257,325,266" onclick="selSeat()" />
  <area shape="rect" coords="327,257,336,266" onclick="selSeat()" />
  <area shape="rect" coords="338,257,347,266" onclick="selSeat()" />
  <area shape="rect" coords="349,257,358,266" onclick="selSeat()" />
  <area shape="rect" coords="361,257,370,266" onclick="selSeat()" />
  <area shape="rect" coords="372,257,381,266" onclick="selSeat()" />
  <area shape="rect" coords="384,257,393,266" onclick="selSeat()" />
  <area shape="rect" coords="396,257,405,266" onclick="selSeat()" />
  <area shape="rect" coords="434,257,443,266" onclick="selSeat()" />
  <area shape="rect" coords="446,257,455,266" onclick="selSeat()" />
  <area shape="rect" coords="457,257,466,266" onclick="selSeat()" />
  <area shape="rect" coords="469,257,478,266" onclick="selSeat()" />
  <area shape="rect" coords="481,257,490,266" onclick="selSeat()" />
  <area shape="rect" coords="492,257,501,266" onclick="selSeat()" />
  <area shape="rect" coords="503,257,512,266" onclick="selSeat()" />
  <area shape="rect" coords="514,257,523,266" onclick="selSeat()" />
  <area shape="rect" coords="526,257,535,266" onclick="selSeat()" />
  <area shape="rect" coords="537,257,546,266" onclick="selSeat()" />
  <area shape="rect" coords="548,257,557,266" onclick="selSeat()" />
  <area shape="rect" coords="559,257,568,266" onclick="selSeat()" />
  <area shape="rect" coords="570,257,579,266" onclick="selSeat()" />
  <!-- 9열 -->
 <area shape="rect" coords="79,267,88,276" onclick="selSeat()" />
  <area shape="rect" coords="89,267,98,276" onclick="selSeat()" />
  <area shape="rect" coords="101,267,110,276" onclick="selSeat()" />
  <area shape="rect" coords="111,267,120,276" onclick="selSeat()" />
  <area shape="rect" coords="123,267,132,276" onclick="selSeat()" />
  <area shape="rect" coords="134,267,143,276" onclick="selSeat()" />
  <area shape="rect" coords="145,267,154,276" onclick="selSeat()" />
  <area shape="rect" coords="157,267,166,276" onclick="selSeat()" />
  <area shape="rect" coords="168,267,177,276" onclick="selSeat()" />
  <area shape="rect" coords="179,267,188,276" onclick="selSeat()" />
  <area shape="rect" coords="191,267,200,276" onclick="selSeat()" />
  <area shape="rect" coords="214,267,223,276" onclick="selSeat()" />
  <area shape="rect" coords="203,267,212,276" onclick="selSeat()" />
  <area shape="rect" coords="260,267,269,276" onclick="selSeat()" />
  <area shape="rect" coords="271,267,280,276" onclick="selSeat()" />
  <area shape="rect" coords="282,267,291,276" onclick="selSeat()" />
  <area shape="rect" coords="293,267,302,276" onclick="selSeat()" />
  <area shape="rect" coords="304,267,313,276" onclick="selSeat()" />
  <area shape="rect" coords="316,267,325,276" onclick="selSeat()" />
  <area shape="rect" coords="327,267,336,276" onclick="selSeat()" />
  <area shape="rect" coords="338,267,347,276" onclick="selSeat()" />
  <area shape="rect" coords="349,267,358,276" onclick="selSeat()" />
  <area shape="rect" coords="361,267,370,276" onclick="selSeat()" />
  <area shape="rect" coords="372,267,381,276" onclick="selSeat()" />
  <area shape="rect" coords="384,267,393,276" onclick="selSeat()" />
  <area shape="rect" coords="396,267,405,276" onclick="selSeat()" />
  <area shape="rect" coords="434,267,443,276" onclick="selSeat()" />
  <area shape="rect" coords="446,267,455,276" onclick="selSeat()" />
  <area shape="rect" coords="457,267,466,276" onclick="selSeat()" />
  <area shape="rect" coords="469,267,478,276" onclick="selSeat()" />
  <area shape="rect" coords="481,267,490,276" onclick="selSeat()" />
  <area shape="rect" coords="492,267,501,276" onclick="selSeat()" />
  <area shape="rect" coords="503,267,512,276" onclick="selSeat()" />
  <area shape="rect" coords="514,267,523,276" onclick="selSeat()" />
  <area shape="rect" coords="526,267,535,276" onclick="selSeat()" />
  <area shape="rect" coords="537,267,546,276" onclick="selSeat()" />
  <area shape="rect" coords="548,267,557,276" onclick="selSeat()" />
  <area shape="rect" coords="559,267,568,276" onclick="selSeat()" />
  <area shape="rect" coords="570,267,579,276" onclick="selSeat()" />
  <!-- 10열 -->
  <area shape="rect" coords="56,277,65,286" onclick="selSeat()" />
  <area shape="rect" coords="67,277,76,286" onclick="selSeat()" />
  <area shape="rect" coords="79,277,88,286" onclick="selSeat()" />
  <area shape="rect" coords="89,277,98,286" onclick="selSeat()" />
  <area shape="rect" coords="101,277,110,286" onclick="selSeat()" />
  <area shape="rect" coords="111,277,120,286" onclick="selSeat()" />
  <area shape="rect" coords="123,277,132,286" onclick="selSeat()" />
  <area shape="rect" coords="134,277,143,286" onclick="selSeat()" />
  <area shape="rect" coords="145,277,154,286" onclick="selSeat()" />
  <area shape="rect" coords="157,277,166,286" onclick="selSeat()" />
  <area shape="rect" coords="168,277,177,286" onclick="selSeat()" />
  <area shape="rect" coords="179,277,188,286" onclick="selSeat()" />
  <area shape="rect" coords="191,277,200,286" onclick="selSeat()" />
  <area shape="rect" coords="214,277,223,286" onclick="selSeat()" />
  <area shape="rect" coords="203,277,212,286" onclick="selSeat()" />
  <area shape="rect" coords="260,277,269,286" onclick="selSeat()" />
  <area shape="rect" coords="271,277,280,286" onclick="selSeat()" />
  <area shape="rect" coords="282,277,291,286" onclick="selSeat()" />
  <area shape="rect" coords="293,277,302,286" onclick="selSeat()" />
  <area shape="rect" coords="304,277,313,286" onclick="selSeat()" />
  <area shape="rect" coords="316,277,325,286" onclick="selSeat()" />
  <area shape="rect" coords="327,277,336,286" onclick="selSeat()" />
  <area shape="rect" coords="338,277,347,286" onclick="selSeat()" />
  <area shape="rect" coords="349,277,358,286" onclick="selSeat()" />
  <area shape="rect" coords="361,277,370,286" onclick="selSeat()" />
  <area shape="rect" coords="372,277,381,286" onclick="selSeat()" />
  <area shape="rect" coords="384,277,393,286" onclick="selSeat()" />
  <area shape="rect" coords="396,277,405,286" onclick="selSeat()" />
  <area shape="rect" coords="434,277,443,286" onclick="selSeat()" />
  <area shape="rect" coords="446,277,455,286" onclick="selSeat()" />
  <area shape="rect" coords="457,277,466,286" onclick="selSeat()" />
  <area shape="rect" coords="469,277,478,286" onclick="selSeat()" />
  <area shape="rect" coords="481,277,490,286" onclick="selSeat()" />
  <area shape="rect" coords="492,277,501,286" onclick="selSeat()" />
  <area shape="rect" coords="503,277,512,286" onclick="selSeat()" />
  <area shape="rect" coords="514,277,523,286" onclick="selSeat()" />
  <area shape="rect" coords="526,277,535,286" onclick="selSeat()" />
  <area shape="rect" coords="537,277,546,286" onclick="selSeat()" />
  <area shape="rect" coords="548,277,557,286" onclick="selSeat()" />
  <area shape="rect" coords="559,277,568,286" onclick="selSeat()" />
  <area shape="rect" coords="570,277,579,286" onclick="selSeat()" />
  <area shape="rect" coords="581,277,590,286" onclick="selSeat()" />
  <area shape="rect" coords="592,277,601,286" onclick="selSeat()" />
</map>